@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;

    @include customscroll($width: 5px, $bgTrack: $main-color, $bgThumb: $black-cl);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    @include text(var(--body15-fs), pr, var(--body15-lh), $black-cl, none); // tuỳ chỉnh
    background: $white-cl;
    position: relative;
    .container-fluid{
        width: 100%;
        padding-right: var(--gap);
        padding-left: var(--gap);
        margin: 0 auto;
        @include xs {
            padding-right: calc(var(--gap) / 2);
            padding-left: calc(var(--gap) / 2);
        }
    }
    .container{
        width: 100%;
        padding-right: calc(var(--gap) / 2);
        padding-left: calc(var(--gap) / 2);
        margin: 0 auto;
    }
    @media (min-width: $xxs-min) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }
}
img{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
}